/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/JasentietokannanHallinta/target/
/JasentietokannanHallinta/jasentiedotList.txt 
/JasentietokannanHallinta/users.txt
/JasentietokannanHallinta/nbproject/
/JasentietokannanHallinta/fileusername
/JasentietokannanHallinta/filejasentiedotname
